body {
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  height: 550px;
  width: 700px;
}

.left-top {
  height: 550px;
  width: 350px;
  border-radius: 10px 0 0 10px;
}

.img-desktop {
  height: 550px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.img-mobile {
  display: none;
}

.right-bottom {
  height: 550px;
  width: 350px;
  border-radius: 0 10px 10px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.sub-item {
  align-self: flex-start;
  margin-left: 35px;
}

.title {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 2.3rem;
  max-width: 250px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  max-width: 260px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.sale {
  display: flex;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.full-price {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: line-through;
  margin-left: 29px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  width: 280px;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 18px;
  align-self: center;
  border-radius: 9px;
}

@media (max-width: 750px) {
  body {
    height: 90vh;
  }

  .container {
    flex-direction: column;
    height: 700px;
    width: 350px;
  }

  .left-top {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .right-bottom {
    border-radius: 0 0 10px 10px;
    gap: 25px;
  }

  .sub-item {
    margin-left: 25px;
  }

  .title {
    font-size: 0.8rem;
  }

  .subtitle {
    font-size: 2rem;
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description {
    font-size: 0.9rem;
    max-width: 300px;
  }

  .btn {
    width: 300px;
  }
}
