/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10px / 16) * 100 = 62.5% */
}

body {
  color: #1c232b;
  background-color: #f2ebe3;
}

/* GENERAL */

.btn {
  color: #ffffff;
  background-color: #3c8067;
  border: none;
  border-radius: 7.4px;
}

/* REFACTORED */

.ordering-product,
.ordering-description,
.ordering-sale,
.ordering-button {
  font-family: "Montserrat", sans-serif;
}

.ordering-product,
.ordering-description,
.ordering-sale {
  font-weight: 500;
  color: #6c7289;
}

.ordering-title,
.ordering-price {
  font-family: "Fraunces", serif;
}

.ordering-title,
.ordering-price {
  font-size: 3.2rem;
}

/* MAIN */

.ordering-container {
  display: flex;
  height: 45rem;
  width: 60rem;
  margin: 24rem auto 0 auto;
  background-color: #ffffff;
  border-radius: 9px;
}

.ordering-desktop-image {
  display: block;
  width: 79%;
  border-radius: 9px 0 0 9px;
}

.ordering-mobile-image {
  display: none;
}

.ordering-information {
  padding: 3.2rem;
}

.ordering-product {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.ordering-title {
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
}

.ordering-description {
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin-bottom: 2.5rem;
}

.ordering-prices-box {
  display: flex;
  align-items: center;
  gap: 1.9rem;
  margin-bottom: 2.6rem;
}

.ordering-price {
  color: #3c8067;
}

.ordering-sale {
  font-size: 1.4rem;
  text-decoration: line-through;
}

.ordering-button-box {
  display: flex;
  justify-content: center;
}

.ordering-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.ordering-button:active {
  background-color: #244d3e;
}

.ordering-button-text {
  font-size: 1.4rem;
  font-weight: 600;
}

/* MEDIA QUERIES */

/* 656px / 16 = 41 */
@media (max-width: 41em) {
  .ordering-container {
    display: flex;
    flex-direction: column;
    height: 61.1rem;
    width: 34.3rem;
    margin: 15.9rem auto 0 auto;
  }

  .ordering-desktop-image {
    display: none;
  }

  .ordering-mobile-image {
    display: block;
    border-radius: 9px 9px 0 0;
  }

  .ordering-information {
    padding: 2.4rem;
  }

  .ordering-product {
    margin-bottom: 1.2rem;
  }

  .ordering-title {
    margin-bottom: 1.6rem;
  }

  .ordering-description {
    margin-bottom: 2rem;
  }

  .ordering-prices-box {
    margin-bottom: 1.6rem;
  }
}
